<h1 class="header"><%= @user.name %>'s Profile</h1>

<!-- Put live clock here -->

<%= form_for([@user, @attendance]) do |f| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@attendance.errors.count, "error") %> prohibited change!</h5>
      <ul>
        <% @attendance.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <!-- Display clock in OR clock out button based on user's last time -->
  <% if @user.attendances.empty? %>
    <%= f.hidden_field :status, value: 1 %>
    <%= f.submit "Clock In", class: "btn btn-primary" %>
  <% elsif @user.attendances.last.status == 1 %>
    <%= f.hidden_field :status, value: 2 %>
    <%= f.submit "Clock Out", class: "btn btn-danger" %>
  <% else %>
    <p class="main-text">Time submitted, please contact Admin if data is incorrect</p>
  <% end %>
  <%= f.hidden_field :user_id, value: @user.id %>
<% end %>

<!-- Display user's attendance here -->
