<h1 class="header"><%= @user.name.titleize %>'s Profile</h1>

<!-- Put live clock here -->

<%= form_for([@user, @attendance]) do |f| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@attendance.errors.count, "error") %> prohibited change!</h5>
      <ul>
        <% @attendance.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Display clock in OR clock out button based on user's last time -->
  <% if @user.attendances.empty? %>
    <%= f.hidden_field :status, value: 1 %>
    <%= f.submit "Clock In", class: "btn btn-primary" %>
  <% elsif @user.attendances.last.status == 1 %>
    <%= f.hidden_field :status, value: 2 %>
    <%= f.submit "Clock Out", class: "btn btn-danger" %>
  <% else %>
    <p class="main-text">Time submitted for today, please contact admin if data is incorrect</p>
  <% end %>
  <%= f.hidden_field :user_id, value: @user.id %>
<% end %>

<!-- Display user's attendance over past week -->
<h4 class="header" id="sub-header">Weekly Attendance</h4>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <div class="full-width" style="margin-top: 25px;">
      <%= image_tag "blue-clock.svg", class:"clock-icon" %>
      <p class="clock-in">IN</p>
    </div>
    <div class="full-width">
      <%= image_tag "red-clock.svg", class:"clock-icon" %>
      <p class="clock-out">OUT</p>
    </div>
  </div>
  <!-- Generate weekly view including clock in/out times -->
  <% @days_this_week.take(5).each do |day| %>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <%= day.strftime('%A') %>
      <!-- Check whether a user has an attendance record within the day -->
      <% @weekly_attendance.each do |clock_time| %>
        <% if clock_time.created_at.to_date == day %>
          <!-- CSS class is based on attendance status (in or out) -->
          <p class="<%= clock_time.status == 1 ? 'time-in' : 'time-out' %>">
            <%= clock_time.created_at.strftime('%H:%M') %>
          </p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
