<!DOCTYPE html>
<html>
  <head>
    <title>Work Attendance App</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="en">
  </head>

  <body>
    <ul class="nav nav-pills">
      <% if !current_user %>
        <li class="nav-item"><%= link_to "Log in", login_url, class:"link" %></li>
        <li class="nav-item"><%= link_to "Sign up", new_user_url, class:"link" %></li>
      <% else %>
        <li class="nav-item"><%= link_to "Profile", user_url(current_user), class:"link" %></li>
        <li class="nav-item"><%= link_to "Settings", edit_user_url(current_user), class:"link" %></li>
        <li class="nav-item"><%= link_to "Log out", logout_url, class:"link" %></li>
      <% end %>
    </ul>
    <% if flash[:alert] || flash[:notice] %>
      <div class="alert"><%= flash[:alert] || flash[:notice] %></div>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
